$img: url(../image/bg-i3.jpg);
$background-color:blue;
$fc: black;
$fz: 12px;
$fw: 200;

body {
    background: $img;
    // background-color: $background-color;
}

ul.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: visible;

    li{
        float: left;
    }
    li.image{
        float:none !important;
    }
    li.icon{
        display: none;
    }

    a{
        display:inline-block;
        color:$fc;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        font-size: 12px;
    }
    a:hover{
        background-color:visible;
    }

}

.homepage{
    padding-top: 15%;
    text-align: center;
    h2{
        color: $fc;
        font-size: $fz;
        line-height: 22px;
        letter-spacing: 1px;
        font-weight: $fw;
        margin: 0;
        padding: 0;
    }   
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right:auto;
    margin-left: auto;
}

@media screen and (max-width:680px){
    ul.topnav{
        li:not(:first-child) {
            display: none;
        }

        li.icon{
            float: right;
            display: inline-block;
        }
    }
}

@media screen and (max-width:680px){
    ul.topnav.responsive{
        position: relative;

        li.icon{
            position: absolute;
            right: 0;
            top: 0;
        }

        li{
            float: none;
            display: inline;

            a{
                display: block;
                text-align: left;
            }
        }

    }
    
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-12{

}

